*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}

h1{
    justify-content: center;
    display: flex;
    padding: 16px;
    background-color: #dadada;
    margin: 0 500px;
    font-size: 50px;
    margin-bottom: 16px;
    border-radius: 5px;
}

h2{
    margin-bottom: 16px;
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
}

.input-container{
    padding: 16px;
    background-color: #dadada;
    border-radius: 5px;
}

input, button{
    padding: 16px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    font-size: larger;
    cursor: pointer;
}

#verde{
    background-color: green;
    color: white;
}

button{
    background-color: red;
    color: white;
}

.task-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.task-list li {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
